@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");


body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    color: #023047;
    background-color: #480ca8;
}

.page {
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    width: 100%;
}

.formulario-cadastro {
    background-color: #fff;
    border-radius: 7px;
    padding: 40px;
    box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.4);
    width: 100%;
    max-width: 750px; /* Largura máxima para dispositivos maiores */
    margin: auto;
}

.formulario-cadastro h1 {
    font-weight: 500;
    font-size: 2em;
}

.formulario-cadastro p, 
.formulario-cadastro label,
.formulario-cadastro a {
    font-size: 14px;
}

.formulario-cadastro input, 
.formulario-cadastro textarea, 
.formulario-cadastro select {
    width: 95%;
    margin-left: 10px;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: border 0.3s;
}

.formulario-cadastro input:focus,
.formulario-cadastro textarea:focus,
.formulario-cadastro select:focus {
    border-color: #f72585;
}

.formulario-grupo {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 1rem;
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.btn {
    background-color: #6a1b9a; /* Cor mais suave */
    color: #fff;
    padding: 10px 15px;
    font-weight: 600;
    border: none;
    cursor: pointer;
    transition: transform 0.3s, background-color 0.3s;
}

.btn:hover {
    transform: scale(1.05);
    background-color: #7e57c2;
}

/* Media Queries para Responsividade */
@media (max-width: 768px) {
    .formulario-cadastro {
        padding: 10px;
        max-width: 70%;
    }

    .formulario-cadastro h1 {
        font-size: 1.8em;
    }

    .formulario-grupo {
        flex-direction: column;
    }

    .formulario-cadastro input, 
    .formulario-cadastro textarea, 
    .formulario-cadastro select {
        width: 90%;
        margin-left: 10px;
        padding: 15px;
        border: 1px solid #ccc;
        border-radius: 4px;
        transition: border 0.3s;
    }
}

@media (max-width: 480px) {
    .formulario-cadastro {
        padding: 5px;
        max-width: 90%;
    }

    .formulario-cadastro h1 {
        font-size: 1.6em;
    }

    .formulario-cadastro input, 
    .formulario-cadastro textarea, 
    .formulario-cadastro select {
        width: 85%;
        margin-left: 10px;
        padding: 15px;
        border: 1px solid #ccc;
        border-radius: 4px;
        transition: border 0.3s;
    }
}

.notification-popup, .notification-popup-sucesso {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    z-index: 1000;
    text-align: center;
}

.notification-popup {
    background-color: #f44336;
    color: white;
}

.notification-popup-sucesso {
    background-color: #4caf50;
    color: white;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 15px 200px;
  background: #ffffff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
.nav,
.nav .nav-links {
  display: flex;
  align-items: center;
}
.nav {
  justify-content: space-between;
}
a {
  color: #8600c4;
  text-decoration: none;
}
.nav .logo {
  font-size: 22px;
  font-weight: 500;
}
.nav .nav-links {
  column-gap: 20px;
  list-style: none;
}
.nav .nav-links a {
  transition: all 0.2s linear;
}
.nav.openSearch .nav-links a {
  opacity: 0;
  pointer-events: none;
}

.nav .nav-links a:hover {
    background-color: #fff; /* Cor de fundo ao passar o mouse */
    color: #ff00b7; /* Cor do texto ao passar o mouse */
    padding: 10px 15px; /* Ajuste o padding conforme necessário */
    border-radius: 5px; /* Adiciona bordas arredondadas */
    transition: all 0.3s ease; /* Suaviza a transição das propriedades */
  }

.nav .search-icon {
  color: #8600c4;
  font-size: 20px;
  cursor: pointer;
}
.nav .search-box {
  position: absolute;
  right: 250px;
  height: 45px;
  max-width: 555px;
  width: 100%;
  opacity: 0;
  pointer-events: none;
  transition: all 0.2s linear;
}
.nav.openSearch .search-box {
  opacity: 1;
  pointer-events: auto;
}
.search-box .search-icon {
  position: absolute;
  left: 15px;
  top: 50%;
  left: 15px;
  color: #8600c4;
  transform: translateY(-50%);
}
.search-box input {
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  border-radius: 6px;
  background-color: #fff;
  padding: 0 15px 0 45px;
}

.nav .navOpenBtn,
.nav .navCloseBtn {
  display: none;
}

/* responsive */
@media screen and (max-width: 1160px) {
  .nav {
    padding: 15px 100px;
  }
  .nav .search-box {
    right: 150px;
  }
}
@media screen and (max-width: 950px) {
  .nav {
    padding: 15px 50px;
  }
  .nav .search-box {
    right: 100px;
    max-width: 400px;
  }
}
@media screen and (max-width: 768px) {
  .nav .navOpenBtn,
  .nav .navCloseBtn {
    display: block;
  }
  .nav {
    padding: 15px 20px;
  }
  .nav .nav-links {
    position: fixed;
    top: 0;
    left: -100%;
    height: 100%;
    max-width: 280px;
    width: 100%;
    padding-top: 100px;
    row-gap: 30px;
    flex-direction: column;
    background-color: #11101d;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.4s ease;
    z-index: 100;
  }
  .nav.openNav .nav-links {
    left: 0;
  }
  .nav .navOpenBtn {
    color: #fff;
    font-size: 20px;
    cursor: pointer;
  }
  .nav .navCloseBtn {
    position: absolute;
    top: 20px;
    right: 20px;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
  }
  .nav .search-box {
    top: calc(100% + 10px);
    max-width: calc(100% - 20px);
    right: 50%;
    transform: translateX(50%);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
}