@import url(https://fonts.googleapis.com/css?family=Economica:400,700);
@import url('https://fonts.googleapis.com/css2?family=Afacad:wght@400;600&display=swap');

body {
    height: 100%;
    background: #ffffff;
    font-family: 'Economica', sans-serif;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    -webkit-backface-visibility: hidden;
}

.container {
    margin-top: 20px;
    max-width: 600px; /* Define a largura máxima do contêiner */
    margin: 0 auto; /* Centraliza o contêiner */
    padding: 20px; /* Espaçamento interno */
    background-color: #f9f9f9; /* Cor de fundo */
    border-radius: 10px; /* Bordas arredondadas */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra ao redor do contêiner */
}

.formulario-cadastro {
    display: flex;
    flex-direction: column; /* Organiza os campos em coluna */
}

.formulario-grupo{
    display: flex;
    margin-bottom: 1rem;
    justify-content: space-between;
}
/* Estilo geral para todos os inputs e textareas */
.formulario-cadastro input,
.formulario-cadastro select,
.formulario-cadastro textarea {
    width: 100%; /* Faz o input ocupar toda a largura disponível */
    padding: 8px 10px; /* Espaçamento interno */
    margin-bottom: 15px; /* Espaço abaixo de cada campo */
    border: 1px solid #ccc; /* Borda */
    border-radius: 4px; /* Bordas arredondadas */
    box-sizing: border-box; /* Calcula a largura incluindo padding e border */
    margin-left: 10px;
    margin-right: 10px;
}

/* Estilo para o input focado */
.formulario-cadastro input:focus,
.formulario-cadastro textarea:focus {
    border-color: #007bff; /* Cor da borda ao focar */
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.25); /* Sombra ao focar */
    outline: none; /* Remove o contorno padrão */
}

/* Estilização para checkboxes */
.formulario-cadastro input[type="checkbox"] {
    margin-right: 10px; /* Espaço à direita do checkbox */
}

/* Label para os checkboxes */
.formulario-cadastro label {
    margin-bottom: 10px; /* Espaço abaixo do label */
    display: block; /* Faz o label ocupar toda a linha */
    cursor: pointer; /* Cursor de mão ao passar sobre o label */
}

.formulario-cadastro button {
    width: 100%;
    padding: 10px 15px; /* Espaçamento interno do botão */
    background-color: #007bff; /* Cor de fundo do botão */
    color: white; /* Cor do texto do botão */
    border: none; /* Sem bordas no botão */
    border-radius: 5px; /* Bordas arredondadas no botão */
    cursor: pointer; /* Cursor de mão ao passar sobre o botão */
}

.formulario-cadastro button:hover {
    background-color: #0056b3; /* Cor de fundo do botão ao passar o mouse */
}


.notification-popup {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #f44336;
    color: white;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
    z-index: 1000;
}

.notification-popup-sucesso {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #189200;
    color: white;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
    z-index: 1000;
}
