@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
body {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    color: #023047;
    background-color: #fff;
}

.page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 100vh;
    width: 100%;
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 15px 200px;
  background: #ffffff;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}
.nav,
.nav .nav-links {
    z-index: 1000;
  display: flex;
  align-items: center;
}
.nav {
  justify-content: space-between;
}
a {
  color: #663A84;
  text-decoration: none;
}
.nav .logo {
  font-size: 22px;
  font-weight: 500;
}
.nav .nav-links {
  column-gap: 20px;
  list-style: none;
}
.nav .nav-links a {
  transition: all 0.2s linear;
}
.nav.openSearch .nav-links a {
  z-index: 1000;
  opacity: 0;
  pointer-events: none;
}

.nav .nav-links a:hover {
    background-color: #fff; /* Cor de fundo ao passar o mouse */
    color: #E5671D; /* Cor do texto ao passar o mouse */
    padding: 10px 15px; /* Ajuste o padding conforme necessário */
    border-radius: 5px; /* Adiciona bordas arredondadas */
    transition: all 0.3s ease; /* Suaviza a transição das propriedades */
  }

.nav .search-icon {
  z-index: 1000;
  color: #663A84;
  font-size: 20px;
  cursor: pointer;
}
.nav .search-box {
  position: absolute;
  right: 250px;
  height: 45px;
  max-width: 555px;
  width: 100%;
  opacity: 0;
  pointer-events: none;
  transition: all 0.2s linear;
}
.nav.openSearch .search-box {
  opacity: 1;
  pointer-events: auto;
}
.search-box .search-icon {
  position: absolute;
  left: 15px;
  top: 50%;
  left: 15px;
  color: #663A84;
  transform: translateY(-50%);
}
.search-box input {
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  border-radius: 6px;
  background-color: #fff;
  padding: 0 15px 0 45px;
}

.nav .navOpenBtn,
.nav .navCloseBtn {
  display: none;
}

/* responsive */
@media screen and (max-width: 1160px) {
  .nav {
    padding: 15px 100px;
  }
  .nav .search-box {
    right: 150px;
  }
}
@media screen and (max-width: 950px) {
  .nav {
    padding: 15px 50px;
  }
  .nav .search-box {
    right: 100px;
    max-width: 400px;
  }
}
@media screen and (max-width: 768px) {
  .nav .navOpenBtn,
  .nav .navCloseBtn {
    display: block;
  }
  .nav {
    padding: 15px 20px;
  }
  .nav .nav-links {
    position: fixed;
    top: 0;
    left: -100%;
    height: 100%;
    max-width: 280px;
    width: 100%;
    padding-top: 100px;
    row-gap: 30px;
    flex-direction: column;
    background-color: #ffffff;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.4s ease;
    z-index: 100;
  }
  .nav.openNav .nav-links {
    left: 0;
  }
  .nav .navOpenBtn {
    color: #E5671D;
    font-size: 20px;
    cursor: pointer;
  }
  .nav .navCloseBtn {
    position: absolute;
    top: 20px;
    right: 20px;
    color: #E5671D;
    font-size: 20px;
    cursor: pointer;
  }
  .nav .search-box {
    top: calc(100% + 10px);
    max-width: calc(100% - 20px);
    right: 50%;
    transform: translateX(50%);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 0;
    padding: 20px;
    background-color: #fff;
    border-radius: 2px;
}

.tab-nav-container {
    padding: 15px; /* Espaçamento interno para dar espaço ao redor dos itens */
    border-bottom: 1px solid #dee2e6; /* Linha na parte inferior para separar as abas do conteúdo */
}


/* Navegação por abas */
.nav2 {
    list-style-type: none;
    padding: 0;
    display: flex;
    overflow-x: auto; /* Adiciona rolagem horizontal */
    -webkit-overflow-scrolling: touch; /* Melhora a rolagem em dispositivos iOS */
    justify-content: space-around; /* Distribui os itens uniformemente */
    white-space: nowrap; /* Evita que os itens da aba quebrem para a linha seguinte */
}

.nav2-item {
    flex: 1; /* Faz com que cada aba ocupe uma fração igual do espaço disponível */
    margin-right: 0; /* Remove a margem à direita */
    text-align: center; /* Centraliza o texto dentro da aba */
}

.nav2-link {
    color: #663A84;
    text-decoration: none;
    padding: 5px 5px; /* Reduz o padding para economizar espaço */
    font-size: smaller; /* Reduz o tamanho da fonte */
    display: block;
    transition: all 0.4s ease;
}

.nav2-link:hover,
.nav2-link.letra-nav2:active,
.nav2-link.letra-nav2:focus {
    background-color: #E5671D;
    color: white;
    border-radius: 5px;
}

/* Responsividade */
@media (max-width: 768px) {
    .nav2 {
        flex-direction: row; /* Mantém as abas em linha em telas pequenas */
    }
    
    .container {
        padding: 5px; /* Reduz o padding do container em telas pequenas */
    }

    .tab-nav-container {
        padding: 5px; /* Reduz o padding do container das abas */
    }
}

/* Estilização dos botões */
button {
    font-size: 10px;
    width: auto;
    padding: 10px 20px;
    background-color: #E5671D;
    color: white;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #FFDE59;
}

/* Estilos adicionais para o mapa e outras seções podem ser adicionados aqui */
.w-100 {
    width: 70%!important;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.icones {
    width: 10px;
    height: 10px;
}

.descricao-star {
    margin-top: 100px;
    padding: 20px;
    font: bold;
}

.descricao-star h5{
    color: #c0392b;
    font-family: Afacad;
}


#mapa {
    z-index: 500;
    width: 100%; /* Largura completa */
    height: 300px; /* Altura fixa - você pode ajustar conforme necessário */
    /* Adicione quaisquer outros estilos que você achar necessário */
}

.rating {
    font-size: 12px;
}

.star {
    color: #ffc107;
    /* Cor das estrelas preenchidas */
}

.unfilled-star {
    color: #ccc;
    /* Cor das estrelas vazias */
}

.horario-container {
    background-color: white;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    width: 50%;
}

.dia {
    font-size: 1.2em;
    margin: 10px 0;
}
.horario {
    font-size: 1.1em;
    color: #333;
}

.icon {
    width: 24px;
    height: 24px;
    vertical-align: middle;
}

/* Estilos para as setas do carrossel */
.carousel-control-prev,
.carousel-control-next {
    color: #E5671D;
    width: 5%;

}
.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-image: none;
}

.carousel-control-prev-icon:after,
.carousel-control-next-icon:after {
    content: '';
    display: inline-block;
    width: 10px;
    height: 10px;
    background: transparent;
    border: solid 2px #E5671D;
    border-width: 0 2px 2px 0;
}

.carousel-control-prev-icon:after {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

.carousel-control-next-icon:after {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.nome-estabelecimento {
    font-size: 24px;
    margin: 20px 0;
    text-align: center;
}

.tab-content-custom {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 15px;
}

.tab-pane {
    display: none;
}

.tab-pane.active {
    display: block;
}

/* Estilo padrão para .info-row */
.info-row {
    display: flex;
    flex-wrap: wrap; /* Permite que os itens se ajustem na linha ou se movam para a próxima */
    justify-content: space-between; /* Espaçamento entre os itens */
    margin-bottom: 15px; /* Espaçamento abaixo da fila */
}

/* Estilos para os itens dentro de .info-row */
.info-row > * {
    flex-basis: calc(33% - 10px); /* Ocupa aproximadamente um terço do espaço, considerando margem */
    margin-bottom: 10px; /* Espaçamento entre linhas */
}

/* Estilos para telas menores (ex: smartphones) */
@media (max-width: 768px) {
    .info-row > * {
        flex-basis: 100%; /* Cada item ocupa a largura total da linha */
    }
}


.p-small {
    font-size: 12px;
}

/* Classe para um parágrafo de tamanho normal */
.p-normal {
    font-size: 16px; /* Este é geralmente o tamanho padrão */
}

/* Classe para um parágrafo de tamanho grande */
.p-large {
    font-size: 20px;
}

/* Classe para um parágrafo de tamanho extra-grande */
.p-xlarge {
    font-size: 24px;
}

.h4-small {
    font-size: 14px;
}

/* Classe para um parágrafo de tamanho normal */
.h4-normal {
    font-size: 16px; /* Este é geralmente o tamanho padrão */
}

/* Classe para um parágrafo de tamanho grande */
.h4-large {
    font-size: 20px;
}

/* Classe para um parágrafo de tamanho extra-grande */
.h4-xlarge {
    font-size: 24px;
}

/* Classe para estilizar a div que contém o ícone e o título */
.div-icon-title {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra suave */
    transition: box-shadow 0.3s ease, transform 0.3s ease; /* Transição suave para sombra e transformação */
}

/* Estilo para a imagem dentro da div */
.div-icon-title img {
    width: 70px; /* Largura fixa para a imagem */
    height: 70px; /* Altura fixa para a imagem */
    margin-right: 10px; /* Espaço entre a imagem e o texto */
}

/* Estilo para o título dentro da div */
.div-icon-title h6 {
    margin: 0;
    font-size: 12px; /* Tamanho do título */
    color: #333; /* Cor do texto */
}

.div-icon-title p {
    margin: 0;
    margin-left: 15px;
    font-size: 10px; /* Tamanho do título */
    color: #333; /* Cor do texto */
}

/* Efeito ao passar o mouse */
.div-icon-title:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra mais proeminente */
    transform: translateY(-2px); /* Leve movimento para cima */
}

/* Responsividade para telas menores */
@media (max-width: 768px) {
    .div-icon-title {
        flex-direction: column; /* Ícone e título em coluna */
        align-items: center; /* Centraliza os itens */
        text-align: center; /* Texto centralizado */
    }

    .div-icon-title img {
        margin-bottom: 10px; /* Espaço entre a imagem e o título em dispositivos móveis */
    }
}