.mini-card {
    margin-bottom: 10px;
}
.mini-card .card {
    border-radius: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Adiciona transição para transformação e sombra */
    cursor: pointer; /* Muda o cursor para indicar que é clicável */
}
.mini-card .card:hover {
    transform: scale(1.08); /* Aumenta ligeiramente o tamanho do card */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Adiciona sombra para efeito de elevação */
}
.mini-card .card-body {
    padding: 2px;
}
.card-text-compact {
    text-align: center;
    margin-bottom: 5px;
}

.rating {
    font-size: 24px;
}

.star {
    color: #ffc107; /* Cor das estrelas preenchidas */
}

.unfilled-star {
    color: #ccc; /* Cor das estrelas vazias */
}

/* Estilos para as setas do carrossel */
.carousel-control-prev, .carousel-control-next {
    color: #333; /* Cor cinza claro */
    width: 15%; /* Largura das áreas clicáveis */
}

.carousel-control-prev-icon, .carousel-control-next-icon {
    background-image: none;
}

.carousel-control-prev-icon:after, .carousel-control-next-icon:after {
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    background: transparent;
    border: solid 2px #333; /* Cor cinza claro */
    border-width: 0 2px 2px 0;
}

.carousel-control-prev-icon:after {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

.carousel-control-next-icon:after {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

/* Estilo para posicionar as setas fora do carrossel */
.carousel-control-prev, .carousel-control-next {
    position: absolute;
}

.carousel-control-prev {
    margin-left: -100px;
}

.carousel-control-next {
    margin-left: 100px;
}
