<<<<<<< Updated upstream
.box {
    display: inline-block;
    font-size: 14px;
    margin: 1px;
    padding: 1px 2px;
    border: 1px solid #ddd;
    border-radius: 10px; /* Bordas arredondadas */
    background-color: #f8f8f8;
}

.pagination {
    justify-content: center;
    text-align: center;
    margin-top: 20px;
}

.pagination button {
    padding: 5px 10px;
    margin: 2px;
    background-color: #f0f0f0;
    border: 1px solid #ddd;
    border-radius: 5px;
    cursor: pointer;
}

.pagination button:hover {
    background-color: #e0e0e0;
}

.let-card {
    font-family: 'Helvetica', sans-serif;
    font-size: 15px;
    font-weight: bold;
    color: #1e1e1e;
=======
.let-card {
    font-family: 'Helvetica', sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: #333333;
>>>>>>> Stashed changes
}

.let-card-min {
    font-family: 'Helvetica', sans-serif;
<<<<<<< Updated upstream
    font-size: 12px;
    font-weight: bold;
    color: #494949;
=======
    font-size: 13px;
    font-weight: bold;
    color: #303030;
>>>>>>> Stashed changes
}

.btn-custom {
    display: inline-block;
    padding: 5px 20px; /* Ajuste o padding conforme necessário */
<<<<<<< Updated upstream
    border-radius: 25px; /* Borda redonda */
=======
    border-radius: 15px; /* Borda redonda */
>>>>>>> Stashed changes
    background-color: purple; /* Cor de fundo roxa */
    color: #ffffff; /* Cor do texto branco */
    border: none; /* Sem borda */
    cursor: pointer;
    transition: background-color 0.3s ease; /* Transição suave de cor de fundo */
    margin-top: 10px;
  }

<<<<<<< Updated upstream
  .card-body-est {
    width: 250px; /* Largura inicial da imagem */
    height: auto; /* Altura automática para manter a proporção */
    transition: transform 0.3s ease; /* Adiciona uma transição suave à mudança de tamanho */
    z-index: 3; /* Coloca a imagem sobre as outras */
    background-color: #ffffff;
    overflow: hidden;
    border-radius: 15px;
  }
  
  .card-body-est:hover {
    transform: scale(1.05); /* Aumenta o tamanho em 20% ao passar o mouse */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
  }

  .card-body-est img {
    width: 100%;
    height: 100%;
    border-radius: 15px;
  }

  .icone {
    text-align: right;
  }

  .img-principal {
    width: 250px;
    height: auto;
  }
=======
  .imagem-hover {
    width: 300px; /* Largura inicial da imagem */
    height: auto; /* Altura automática para manter a proporção */
    transition: transform 0.3s ease; /* Adiciona uma transição suave à mudança de tamanho */
  }
  
  .imagem-hover:hover {
    transform: scale(1.2); /* Aumenta o tamanho em 20% ao passar o mouse */
  }
>>>>>>> Stashed changes
