@import url(https://fonts.googleapis.com/css?family=Economica:400,700);
@import url('https://fonts.googleapis.com/css2?family=Afacad:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Doodle+Shadow&display=swap');

.carousel-fullscreen {
    width: 100%;
    height: 100vh; /* Define a altura para ocupar toda a altura da tela */
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1; /* Coloca o carrossel atrás do conteúdo da página */
}

.row.home-bg {
    position: relative;
    z-index: 1; /* Garante que o conteúdo fique acima do carrossel */
}

.home-bg {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    font-family: 'Afacad', sans-serif;
    letter-spacing: 0.1em;
    -webkit-backface-visibility: hidden;
}

.custom-card {
    display: grid;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-top: 50px;
    margin-left: 100px;
    margin-bottom: 100px;
    padding: 30px;
    transition: transform 0.3s ease;
    height: 500px;
    border-radius: 20px;
    width: 70%;
    box-shadow: 2px 2px 5px #303030;
    background-color: rgba(255, 255, 255, 0.93);
}

@media (max-width: 768px) {
    .custom-card {
        margin-top: 10%;
        /* Reduz a largura do container para telas menores */
        margin-left: 0%;
        margin-right: 0%;
        /* Reduz a largura do container para telas menores */
        margin-bottom: 10%;
        width: 95%;
        height: 90%;
    }
}

.btn-encontrar {
    align-items: center;
    width: 100%;
    background-color: rgba(255, 136, 0, 0.849);
    border-radius: 20px;
    font-size: large;
}

.btn-custom {
    background-color: #e1e1e1;
    /* Cor de fundo */
    color: #000;
    /* Cor do texto */
    padding: 5px 10px;
    /* Espaçamento interno */
    border-radius: 4px;
    /* Borda arredondada */
    font-weight: bold;
    /* Peso da fonte */
    width: 100%;
    border-radius: 15px;
}

.teste-2 {
    background-color: rgba(137, 43, 226, 0.329);
}

.teste-1 {
    background-color: rgba(165, 42, 42, 0.397);
}

.teste-0 {
    background-color: rgba(0, 0, 0, 0.438);
}

body,
html {
    min-height: 100vh;
    margin: 0;
}

.container-fluid {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-container {
    width: 40%;
    padding: 20px;
    background-color: aqua;
}

.question-container {
    width: 100%;
    text-align: center;
    padding-top: 400px;
    font-family: Rubik Doodle Shadow;
    font-size: 200px;
}

@media (max-width: 768px) {
    .question-container {
        padding-top: 10%;
        font-size: 12px;
    }
}