@import url(https://fonts.googleapis.com/css?family=Economica:400,700);
@import url('https://fonts.googleapis.com/css2?family=Afacad:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Doodle+Shadow&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Rubik+Doodle+Shadow&display=swap');

.carousel-fullscreen {
    width: 100%;
    height: 100vh; /* Define a altura para ocupar toda a altura da tela */
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1; /* Coloca o carrossel atrás do conteúdo da página */
}

.row.home-bg {
    position: relative;
    z-index: 1; /* Garante que o conteúdo fique acima do carrossel */
}

.home-bg {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    font-family: 'Poppins';
    letter-spacing: 0.1em;
    -webkit-backface-visibility: hidden;
}

.custom-card {
    display: grid;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-top: 10px;
    margin-left: 100px;
    margin-bottom: 100px;
    padding: 80px;
    transition: transform 0.3s ease;
    height: 800px;
    border-radius: 20px;
    width: 70%;
    box-shadow: 2px 2px 5px #6c6c6c;
    background-color: rgb(244, 244, 244);
}

@media (max-width: 768px) {
    .custom-card {
        margin-top: 10%;
        /* Reduz a largura do container para telas menores */
        margin-left: 0%;
        margin-right: 0%;
        /* Reduz a largura do container para telas menores */
        margin-bottom: 10%;
        width: 95%;
        height: 90%;
    }
}

.btn-encontrar {
    align-items: center;
    width: 100%;
    background-color: rgb(255, 179, 0);
    border-radius: 20px;
    font-size: large;
    margin-top: 30px;
}

/*.btn-custom {
    background-color: #ececec;
    color: #000;
    padding: 10px 10px;
    border-radius: 20px;
    font-weight: bold;
    width: 100%;
    border-radius: 15px;
    border: 2px #9b0000;
    font-size: 0.9em;;
}*/

.btn-custom {
    width: 100%;
    border-radius: 22px;
    border: 2px #9b0000;
    padding: 15px;
    margin: 0px 10px 12px -5px;
}

.btn-custom:hover {
    background-color: #ededed;
}

.btn-custom i{
    font-size: 1.2em;
    padding: 5px;
    background: -webkit-linear-gradient(#000,#9b0000);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.btn-custom input {
    width: 80%;
    border: none;
    outline: none;
    font-family: 'poppins', sans-serif;
    transform: translateY(-10%);
    color: #9b0000;
    font-size: 11pt;
}

.btn-t {
    margin-top: 5%;
    width: 100%;
    text-align: center;
}

.btn-t button {
    font-family: 'Poppins', sans-serif;
    background: #6b00b3;
    width: 100%;
    height: 40px;
    border: none;
    font-size: 1.2em;
    color:rgb(232, 232, 232);
    border-radius: 20px;
    outline: none;
    cursor: pointer;
}

.btn-t button:hover {
    background: #cdab00;
}

.title {
    font-size: 1.4em;
    font-weight: 1000;
}

.subtitle {
    font-size: 1.0em;
    font-weight: 500;
    padding-bottom: 30px;
}

.teste-2 {
    background-color: rgba(137, 43, 226, 0.329);
}

.teste-1 {
    background-color: rgba(165, 42, 42, 0.397);
}

.teste-0 {
    background-color: rgba(0, 0, 0, 0.438);
}

body,
html {
    min-height: 100vh;
    margin: 0;
}

.container-fluid {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-container {
    width: 40%;
    padding: 20px;
    background-color: aqua;
}

.question-container {
    width: 100%;
    text-align: center;
    padding-top: 400px;
    font-family: Rubik Doodle Shadow;
    font-size: 200px;
}

@media (max-width: 768px) {
    .question-container {
        padding-top: 10%;
        font-size: 12px;
    }
}