@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    color: #023047;
    background-color: #480ca8;
}

.page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    width: 100%;
}

.formLogin {
    background-color: #fff;
    border-radius: 7px;
    padding: 40px;
    box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.4);
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 100%;
    max-width: 420px; /* Largura máxima para dispositivos maiores */
}

.formLogin h1 {
    padding: 0;
    margin: 0;
    font-weight: 500;
    font-size: 2.3em;
}

.formLogin p {
    display: inline-block;
    font-size: 14px;
    color: #666;
    margin-bottom: 25px;
}

.formLogin input,select {
    padding: 15px;
    font-size: 14px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    margin-top: 5px;
    border-radius: 4px;
    transition: all linear 160ms;
    outline: none;
}

.formLogin input:focus, select:focus {
    border: 1px solid #f72585;
}

.formLogin label {
    font-size: 14px;
    font-weight: 600;
}

.formLogin a {
    display: inline-block;
    margin-bottom: 20px;
    font-size: 13px;
    color: #555;
    transition: all linear 160ms;
}

.formLogin a:hover {
    color: #f72585;
}

.btn {
    background-color: purple;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    border: none;
    transition: all linear 160ms;
    cursor: pointer;
}

.btn:hover {
    transform: scale(1.05);
    background-color: rgb(83, 2, 83);
}

/* Media Queries */
@media (max-width: 768px) {
    .formLogin {
        padding: 20px; /* Reduz o padding em telas menores */
        max-width: 340px; /* Ajusta a largura máxima para telas menores */
    }

    .formLogin h1 {
        font-size: 1.8em; /* Reduz o tamanho da fonte do título */
    }
}

@media (max-width: 480px) {
    .formLogin {
        padding: 15px; /* Reduz ainda mais o padding para smartphones */
        max-width: 290px; /* Ajusta a largura máxima para smartphones */
    }

    .formLogin h1 {
        font-size: 1.6em; /* Reduz o tamanho da fonte do título para smartphones */
    }
}

.notification-popup, .notification-popup-sucesso {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
    z-index: 1000;
    text-align: center;
}

.notification-popup {
    background-color: #f44336;
    color: white;
}

.notification-popup-sucesso {
    background-color: #189200;
    color: white;
}
