@import url(https://fonts.googleapis.com/css?family=Economica:400,700);
@import url('https://fonts.googleapis.com/css2?family=Afacad:wght@400;600&display=swap');

.img-logo img {
    width: 50px; /* Largura desejada da imagem */
    height: auto; /* Altura automática para manter a proporção */
}

.nav-bg {
  background-color: blueviolet;
}

.custom-navbar {
  border-radius: 10px; /* bordas arredondadas */
  box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* sombra sutil */
}

.navbar-nav .nav-item .nav-link {
  transition: all 0.3s ease; /* animação suave */
}

.navbar-nav .nav-item .nav-link:hover, 
.navbar-nav .nav-item .nav-link:focus {
  color: blueviolet; /* cor ao passar o mouse e focar */
  transform: scale(1.1); /* aumentar ligeiramente */
}

@media (max-width: 768px) {
  .custom-navbar {
      /* ajustes para dispositivos móveis */
  }
}
